In [171]:
import pandas as pd

In [172]:
inp1 = pd.read_excel('Python Assignment.xlsx',sheet_name='(Input) User IDs', usecols="D:G",skiprows=10,skipfooter=42)

In [173]:
inp2 = pd.read_excel('Python Assignment.xlsx',sheet_name='(Input) Rigorbuilder RAW', usecols="C:G",skiprows=7)

In [176]:
out2 = inp2.copy()

In [177]:
out2.rename(columns = {'S No':'Rank','total_statements':'No. of Statements','total_reasons':'No. of Reason','name':'Name','uid':'UID'},inplace=True)

In [179]:
out2['Total Statements']=out2[['No. of Statements','No. of Reason']].sum(axis=1)

In [181]:
out2.sort_values(by=['Total Statements'],ascending=[False],inplace=True)

In [182]:
del out2['Total Statements']

In [184]:
out2.reset_index(inplace=True)

In [185]:
del out2['index']

In [186]:
out2.index += 1

In [188]:
out2['Rank'] = out2.index

In [189]:
out2

    Rank           Name   UID  No. of Statements  No. of Reason
1      1        Ronak 0   302                 16             19
2      2      Soumita M   280                 13             21
3      3     Subhangi 0    75                 13             16
4      4         Merwin   295                 13             12
5      5    Nitin Shane  1124                 12             11
6      6         Ayisha  3406                 11              8
7      7       imshawan    71                  9              9
8      8        sharath  3367                  8              8
9      9        Saurabh   271                  6              8
10    10       devmenkr   360                  7              7
11    11   Anuraj_Saini   342                  7              7
12    12         Palash    69                  6              7
13    13          raman   539                  5              5
14    14  __riddhi_213_   504                  2              7
15    15        Nishant   299                  4              5
16    16    Rohit Dutta   266                  3              3
17    17    darshimalde  3169                  3              3
18    18  Amrit Malviya   336                  2              4
19    19         Shagun   100                  2              2
20    20  fardinkamal62   263                  2              2
21    21         Vatsal  3408                  2              2

In [190]:
out1 = pd.DataFrame(inp1[['Name','Team Name']])

In [191]:
out1[['total_statements','total_reasons']] = inp2[['total_statements','total_reasons']]

In [193]:
out1 = out1.groupby('Team Name').agg({'total_statements':'mean','total_reasons':'mean'}).reset_index()

In [197]:
out1 = out1.round(2)

In [199]:
out1['Total Statements']=out1[['total_statements','total_reasons']].sum(axis=1)

In [200]:
out1.sort_values(by=['Total Statements'],ascending=[False],inplace=True)

In [201]:
del out1['Total Statements']

In [205]:
out1.reset_index(inplace=True)

In [208]:
out1.rename(columns = {'index':'Rank','Team Name':'Thinking Teams Leaderboard','total_statements':'Average Statements','total_reasons':'Average Reasons'}, inplace = True)

In [216]:
out1.index += 1

In [217]:
out1['Rank'] = out1.index

In [218]:
out1

   Rank Thinking Teams Leaderboard  Average Statements  Average Reasons
1     1        Winning Culture Lab               12.67            16.00
2     2                   Tech Lab                9.00            10.00
3     3                     Mentor                7.33             7.67
4     4        Student Unicorn Lab                7.33             6.33
5     5                  Growpital                5.00             5.67
6     6              BrandTech Lab                4.50             5.50
7     7                    Kringle                4.50             4.50
8     8          Human Capital Lab                2.00             4.50

In [223]:
with pd.ExcelWriter("Answer_Python_Assignment.xlsx") as writer:
    inp1.to_excel(writer, sheet_name="(Input) User IDs", index=False)
    inp2.to_excel(writer, sheet_name="(Input) Rigorbuilder RAW", index=False)
    out1.to_excel(writer, sheet_name="Leaderboard TeamWise (Output)s", index=False)
    out2.to_excel(writer, sheet_name="Leaderboard Individual (Output)", index=False)